html,
body {
  padding: 0;
  margin: 0;
  font-family: inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #0D1117;
  color:#f0f2f5;
}

body {
  overflow-y:scroll;
}
::-webkit-scrollbar {
  width: 8px;
  height: 13px;
  
}
::-webkit-scrollbar-thumb {
  background: #161B22;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #252b35;

}

button, input {
  font-family: inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button {
  border:0;
  cursor: pointer;
  font-weight: 600;
  font-size:14px;
}

h1, h2, h3, h4 {
  color:#f0f2f5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin:0
}
